:root {
  --main-color: #E2E0DF;
  --nav-color: #B8B8B7;
  --text-color: #0A0908;
  --details-color: #9FB983;
}

@font-face {
  font-family: 'NeutralFace';
  src: url('../assets/fonts/NeutralFace.otf');
}

@font-face {
  font-family: 'NeutralFaceBold';
  src: url('../assets/fonts/NeutralFace-Bold.otf');
}

/* Estilos globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/* Estilos del cuerpo */
body {
  background-color: var(--main-color);
  height: 100%;
}

/* Estilos del cuerpo principal */
main {
  height: 563px;
  max-width: 1800px;
}

h1 {
  position: absolute;
  font-family: 'NeutralFaceBold';
  font-size: 128px;
  padding: 40px 3%;
}

.txtPrincipal {
  height: 423px;
}

.txtBlur {
  font-family: 'NeutralFace';
  text-align: center;
  font-size: 32px;
  filter: blur(2px);
}

/* Estilos del pie de página */
footer {
  font-family: 'NeutralFaceBold';
  font-size: 36px;
  text-align: center;
  height: 60px;
  background-color: var(--text-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.decoracion {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 423px;
  padding-right: 3%;
}

.circulo {
  width: 310px;
  height: 292px;
  border-radius: 150px;
  border: 1px solid var(--text-color);
}

.elipse{
  position: absolute;
  width: 120px;
  height: 430px;
  top: 10vh;
  left: 82vw;
  transform: translate(-50%, -50%);
  border-radius: 100px/350px;
  border: 1px solid var(--text-color);
  transform: rotate(41deg);
}


@media only screen and (max-width: 480px) {
 
  main{
    width: 400px;
    height: 635px;
  }
  .txtPrincipal h1 {
    font-size: 75px;
    display: flex;
    justify-content: center;
  }

  .decoracion {
    display: flex;
    justify-content: center;
  }
  
  .decoracion .circulo{
    left: 155px;
    border: 1px solid var(--details-color);
    z-index: -1;
  }

  .decoracion .elipse{
    left: 155px;
    border: 1px solid var(--details-color);
    z-index: -1;
  }
  
  footer {
    font-size: 12px;
    width:400px;
    display: inline-flex;
  }

 
}












